@CHARSET "ISO-8859-1";

#menu {
	background-color: #f9f9f9;
	float: left;
	clear: left;
	padding: 5px 5px 5px 5px;
	margin: 0 0 5px 0;
	width: 160px;
	border: 1px solid #D0D0D0;
}
#menu ul {
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}
#menu ul li {
	margin: 0;
	padding: 0px 5px 5px 5px;
}
#menu ul li hr {
	color: #f9f9f9;
	background-color: #f9f9f9;
	height: 1px;
}

#menu ul li div.menu_div {
	border: 1px solid #999;
	height: 1px;
}


#submenu {
	border: 1px solid #cdcdcd;
	background-color: #efefef;
	padding: 2px;
	margin: 3px;
}

#submenu li {
	display: inline;
	list-style-type: none;
	padding: 1px;
	margin: 1px;
	white-space: nowrap;
}

#submenu img {
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}